:root {
    --darkgray: #46608d;
    --white: #F4F3F3;
    --lightgreen: #BFD8D5;
    --lightgray: #DFDFDF;
}

* {
    font-family: "Microsoft JhengHei";
    margin: 0;
    padding: 0;
}

body {
    scroll-behavior: smooth;
  }

#skill a,#about a {
    color: var(--darkgray);
    font-weight: bolder;
}

.nav-link:hover {
    border-bottom-width: 1px;
    border-bottom-color: var(--darkgray);
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    padding-bottom: 2px;
    text-shadow: 1px 0 #888888;
}
.dropdown-item:hover{
    background: var(--darkgray);
    color: var(--white) !important;
    font-weight: bolder;
}

.skill-icon{
    border-radius: 38px;
    /* background-color: darkgray; */
    font-size: xxx-large;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 5px solid var(--darkgray);
}
.skill-icon:hover{
   
   animation-name: createBox;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes createBox {
    from {
      transform: scale(0) rotate(0deg);
      /* background-color: rgba(220, 20, 60, 0.5); */
      background-color: var(--white);
      color:var(--darkgray);
      /* border: 5px solid var(--darkgray); */
    }
    to {
      transform: scale(1) rotate(360deg);
      color:var(--white);
      /* border: 5px solid var(--white); */
      /* background-color: rgba(255, 127, 80, 0.5); */
      
      background-color: var(--lightgreen);
      
    }
  }

.normal-title {
    color: var(--darkgray);
    font-weight: bold;
    font-size: xxx-large;
    text-shadow: 3px 3px lightgrey;
}

#logo {
    background-color: var(--white);
}


/* 作品說明頁面 */

#work_desc {
    min-height: 100%;
    background-color: var(--white);
    display: none;
}

#content {
    background-color: var(--white);
}

.navbar-icon {
    color: var(--darkgray);
    font-size: 28px;
}

.navbar-style {
    background-color: var(--white)!important;
    font-size: small;
}

.navbar-style a {
    color: var(--darkgray)!important;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    background-color: #DFDFDF;
}

.main {
    /* 有需要卷軸自動出現 */
    /* overflow: auto; */
    padding-bottom: 150px;
    /* this needs to be bigger than footer height*/
}

.footer {
    /* position: relative; */
    /* 負值往上長 */
    margin-top: -150px;
    height: 150px;
    background-color: var(--lightgreen);
    font-size: small;
    font-weight: bolder;
    color: var(--darkgray);
    border-top-width: 1px;
    border-color: var(--darkgray);
    border-style: solid;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    /* clear: both; */
}

.br {
    border-right: 1rem solid #396EB0 !important;
}

.div-bg-color {
    background-color: #DADDFC;
}


/* 作品標題 */

.card-title {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    color: var(--darkgray);
    font-weight: bold;
    text-align: center;
    font-size: xxx-large;
    text-shadow: 3px 3px lightgrey;
}

.card-title-relative {
    color: var(--darkgray);
    font-weight: bold;
    text-align: center;
    font-size: xxx-large;
    text-shadow: 3px 3px lightgrey;
}


/* 作品截圖 */

.card-image {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-image-cursor {
    cursor: pointer;
}


/* 游標懸停在後圖，前圖做翻頁動作 */

.back:hover .front {
    animation-iteration-count: 1;
    animation-name: horizontal-rotate;
    animation-duration: 1s;
}


/* 翻頁動畫 */

@keyframes horizontal-rotate {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}